footer {
    margin-top: 10em;
    width: 100%;
    margin-bottom: 0;

}

#footer-top {
    color: black;
    text-align: center;
    font-size: 16px;


}

#footer-bottom {
    font-size: 16px;
    color: #68c0ce;
    text-align: center;
}

@media screen and (width > 800px) {
    #footer-top {
        font-size: 24px;
    }

    #footer-bottom {
        font-size: 24px;
    }

    footer {
        margin-top: 20em;

    }
}


@media screen and (width > 1020px) {
    footer {
        margin-top: 30em;

    }
}