#topheader {
    height: fit-content;
    /* width: 100%; */
    background-color: #273d80;
    font-size: 12px;
    line-height: 1.6em;
    padding: 0.2em 1.5em;
    text-align: center;
    font-weight: 500;

    /* display: flex; */
    /* justify-content: space-evenly; */



}

p {
    color: white;
}

#bottom-header {
    height: 100px;
    width: 100%;
    background-color: white;
}

.black-text {
    font-size: 14px;
    color: black;
    margin-top: 0;
}

#bottom-header-top {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: 0;
    margin-top: 2em;


    /* justify-content: center; */
    align-items: center;
}

.logo-image {
    width: 80px;
    height: 70px;
}

.logo-text {
    font-size: 8px;
    font-weight: 800;
    color: black;
    margin-top: -3em;
    width: fit-content;
    text-align: center;

}

#bottom-header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3em;

}

#inner-bottom-2 {
    display: flex;
    flex-direction: column;
    margin-top: -1em;
    margin-right: 1em;
}

#inner-bottom-1 {

    margin: 0;
}



.header-button {
    margin: 2em;
    margin-right: 0;
    margin-top: 0.5em;
    height: 40px;
    width: 170px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #2879bd, #0088ba, #0092a9, #009a8e, #3e9e71);
    font-size: 16px;
    border: 0;
    letter-spacing: 1px;
    color: white;
}