#topheader {
    height: 150px;
    width: 100%;
    background-color: blue;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;



}

p {
    margin: 1em;
    color: white;
    margin-top: 0;
    padding-top: 1em;

}

#bottom-header {
    height: 100px;
    width: 100%;
    background-color: white;
}

.black-text {
    color: black;
}

#bottom-header-top {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: 0;
    margin-top: 2em;


    /* justify-content: center; */
    align-items: center;
}

.logo-image {
    width: 100px;
    height: 100px;
}

.logo-text {
    font-size: 10px;
    color: black;

}

#bottom-header-bottom {
    display: flex;
    flex-direction: row;
}

.header-button {
    margin: 2em;
}