.donor-button {
    margin: 2em auto;
    margin-top: 20px;
    height: 40px;
    width: 280px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #2879bd, #0088ba, #0092a9, #009a8e, #3e9e71);
    font-size: 20px;
    border: 0;
    letter-spacing: 1px;
    color: white;
    display: block;
}

.home-h3 {
    margin: 2em 0.5em;
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.images-component {
    height: fit-content;
    background-color: #273d80;
    padding: 3em 1em;

}

.home-container {
    margin: 3em 0;

}

.home-img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5em;

}

.images-component-h2 {
    color: white;
    text-align: center;
    font-weight: 400;
}

.images-component-p {
    margin: 1em;
    color: white;
    font-size: 16px;
    line-height: 1.6em;
    text-align: center;
}

.supporters-slider {
    background-color: #00a088;
    height: 300px;
    /* padding-top: 2em; */
}

.bottom-slider {
    background-color: #00a088;
    height: fit-content;
    padding: 2em 0;
}

.bottom-img {
    height: 150px;
}

.hero-component-h2 {
    color: black;
    text-align: center;
    font-weight: 400;
}

.hero-component-p {
    margin: 1em;
    color: black;
    font-size: 16px;
    line-height: 1.6em;
    text-align: center;
}

.slider-p {
    /* margin: 1em; */
    color: white;
    font-size: 32px;
    line-height: 1.6em;
    text-align: center;
}

.services-h2 {
    /* margin: 1em; */
    color: black;
    font-size: 32px;
    line-height: 1.6em;
    text-align: center;
}

.services-p {
    color: black;
    line-height: 1.6em;
    text-align: center;
    margin: 1em;
    font-size: 16px;
}

.slider-class {
    background-color: #273d80;
    height: fit-content;
    padding: 2em 0.5em;
}

.slider-h1 {

    text-align: center;
    margin: 3em 1em;
    color: black;
    text-transform: uppercase;

}


@media screen and (width > 800px) {
    .slider {
        margin-top: 150px;
    }

    .donor-button {


        margin-top: 50px;
        height: 60px;
        width: 350px;
        border-radius: 30px;
        font-size: 28px;
    }

    .home-h3 {
        font-size: 40px;
    }


    .home-img {
        width: 200px;
        height: 200px;

    }

    .images-component-h2 {
        font-size: 30px;
        font-weight: 600;

    }

    .images-component-p {
        font-size: 20px;
        font-weight: 600;
    }

    .supporters-slider {
        height: 500px;

    }

    .radio-img {
        width: 700px;
        height: 400px;


    }

    .radio-p {

        font-size: 20px;

    }

    .radio-h2 {
        font-size: 30px;

    }

    .hero-component-h2 {
        font-size: 36px;
    }

    .hero-component-p {

        font-size: 28px;

    }


    .services-h2 {
        /* margin: 1em; */
        font-size: 40px;
    }

    .services-p {
        font-size: 28px;
    }


    .slider-p {

        font-size: 40px;

    }

    .slider-h1 {


        font-size: 40px;

    }

}

@media screen and (width > 1020px) {
    .radio-flex {
        display: flex;
        margin: 0 0.5em;

    }

    .radio-img {
        width: 300px;
        height: 200px;

    }

    .home-h3 {
        font-size: 44px;
    }

    .donor-button {


        margin-top: 50px;
        height: 60px;
        width: 400px;
        border-radius: 35px;
        font-size: 32px;
    }

    .images-component-h2 {
        font-size: 34px;
        font-weight: 600;

    }

    .images-component-p {
        font-size: 24px;
        font-weight: 600;
    }

    .supporters-slider {
        height: 800px;

    }

}


@media screen and (width > 2000px) {

    .radio-flex {
        margin: auto;
        max-width: 1400px;

    }

}